body {
	min-height: 1000px;
	margin: 0;
	padding: 0;
}
.section-1,.section-2,.section-3,.section-4 {
	height:500px;
}
.section-1 {
	background: url(../img/section-1.jpg) no-repeat;
}
.section-2 {
	background: url(../img/section-2.jpg) no-repeat;
}
.section-3 {
	background: url(../img/section-3.jpg) no-repeat;
}
.section-4 {
	background: url(../img/section-4.jpg) no-repeat;
}